* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #111;
    color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    padding: 30px;
}

.card {
    background: white;
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 10px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px 20px;
    border: none;
    background: #111;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.danger {
    color: red;
    text-decoration: none;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.login-card {
    background: white;
    padding: 35px;
    border-radius: 14px;
    width: 360px;
    text-align: center;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-card h1 {
    margin-bottom: 5px;
}

.erro {
    background: #ffd6d6;
    color: #900;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
}
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.pedidos-form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.qr-page,
.mobile-page {
    padding: 30px;
}

.qr-card {
    max-width: 420px;
    margin: auto;
    text-align: center;
}

.qr-img {
    width: 260px;
    height: 260px;
    margin-top: 20px;
}

.sucesso {
    background: #d8ffd8;
    color: #096b09;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.mobile-page .card {
    max-width: 480px;
    margin: auto;
}

.mobile-page form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#map {
    width: 100%;
    height: 600px;
    border-radius: 12px;
    overflow: hidden;
}
.tracking-page {
    min-height: 100vh;
    background: #111;
    padding: 20px;
}

.tracking-card {
    max-width: 520px;
    margin: auto;
    background: white;
    border-radius: 18px;
    padding: 22px;
}

#clienteMap {
    width: 100%;
    height: 420px;
    border-radius: 14px;
    margin-top: 15px;
}